.filterTitle {
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.459);
}

.filterText {
  width: 320px;
  margin-bottom: 30px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.027);
  outline: none;
  border: 1px solid rgba(201, 101, 247, 0.1);
  border-radius: 4px;
  color: aliceblue;
  transition: all 300ms ease-in-out;
}

.filterText:focus-visible {
  border: 1px solid #c865f7;
  outline: none;
  color: #c865f7;
}
