.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.label {
  width: 100%;
  color: rgba(255, 255, 255, 0.435);
}

.label:nth-child(2) {
  margin-bottom: 15px;
}

.input {
  padding: 8px;
  border: 1px solid rgb(33, 33, 34);
  margin-bottom: 10px;
  border-radius: 4px;
  transition: border 250ms linear;
  width: calc(100% - 20px);
  background-color: rgba(255, 255, 255, 0.048);
  color: white;
}

@media screen and (min-width: 768px) {
  .input {
    width: 580px;
  }
}

.input:focus-visible {
  border: 1px solid #c865f7;
  outline: none;
}

.button {
  margin-top: 30px;
  width: 100%;
  padding: 8px 15px;
  background-color: rgba(255, 255, 255, 0.048);
  color: #c965f749;
  border: 1px solid #c965f749;
  border-radius: 4px;
  box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
  transition: all 300ms ease-out;
}

.button:active,
.button:hover,
.button:focus {
  background-color: rgba(201, 101, 247, 0.318);
  color: #fafafa65;
}

.error {
  color: tomato;
}
